.border-radius-10px {
  border-radius: 10px;
}
.font-settings-red {
  @include font-settings(map-get($map-color, red-primary));
}
.font-settings-white {
  @include font-settings(map-get($map-color, white-basic));
}
.background-red-primary {
  background: map-get($map-color, red-primary);
}
.background-grey-bg {
  background: map-get($map-color, grey-bg);
}
.arrow_back-down.rotate {
  transform: rotate(180deg);
}
.translate {
  animation: translate ease-in-out 60ms normal;
}
@keyframes translate {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    // height: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    // height: 100%;
  }
}
