@import 'partial';
.footer {
  margin-top: 50px;
  @include flex(column);
  justify-content: center;
  align-items: center;
  gap: 28px;
  background: map-get($map-color, black-basic);
  @include width-and-height(100%, 209px);
  img {
    margin-top: 66px;
    width: 122px;
    @media screen and (min-width: 768px) {
    }
  }
  .copyright {
    margin-bottom: 58px;
    color: map-get($map-color, white-basic);
    width: 133px;
    @media screen and (min-width: 768px) {
      text-align: center;
      width: 100%;
    }
  }
}
