.footer {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  background: #000;
  width: 100%;
  height: 209px;
  img {
    margin-top: 66px;
  }
  .copyright {
    color: #fff;
  }
}
