@import 'partial';
.footer {
  margin-top: 50px;
  @include flex(column);
  justify-content: center;
  align-items: center;
  gap: 28px;
  background: map-get($map-color, black-basic);
  @include width-and-height(100%, 209px);
  img {
    margin-top: 66px;
  }
  .copyright {
    color: map-get($map-color, white-basic);
  }
}
