@import 'partial';
@import 'class';
p {
  margin: 0;
}
.logement-info {
  width: 100%;
  .info-pic {
    display: flex;
    flex-flow: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-flow: row wrap;
      align-items: center;
    }
    .left-section {
      @include flex(column);
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 80%;
      }
      #title {
        @include font-size-and-line-height(36px, 142.6%);
      }
      #location {
        @include font-size-and-line-height(18px, 142.6%);
      }
      #tags {
        margin: 20px 0;
        display: flex;
        gap: 10px;
        width: 100%;
        .tag {
          padding: 3px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background: map-get($map-color, red-primary);
          color: map-get($map-color, white-basic);
          width: 30%;
          @media screen and (min-width: 768px) {
            @include width-and-height(115px, 35px);
          }
        }
      }
    }
    .right-section {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @media screen and (min-width: 768px) {
        flex-flow: column;
        align-items: flex-end;
        width: 20%;
      }
      #host {
        margin-bottom: 13px;
        display: flex;
        gap: 10px;
        align-items: center;
        height: 64px;
        order: 1;
        #host-name {
          text-align: right;
          @include font-size-and-line-height(18px, 142.6%);
        }
        #host-picture {
          @include width-and-height(64px, 64px);
          border-radius: 64px;
        }
      }
      #rating {
        @media screen and (min-width: 768px) {
          order: 2;
        }
        #rating-star {
          display: flex;
          align-items: center;
          gap: 3px;
        }
      }
    }
    .end-section {
      @include flex(column);
      gap: 20px;
      width: 100%;
      @media screen and (min-width: 768px) {
        flex-flow: row;
        justify-content: center;
        gap: 76px;
      }
      .description,
      .equipments {
        @include flex(column);
        width: 100%;
        #description {
          padding: 40px 20px 20px 20px;
          border-radius: 10px;
          background: map-get($map-color, grey-bg);
        }
      }
      #description,
      .animation {
        color: map-get($map-color, red-primary);
        position: relative;
        bottom: 10px;
        z-index: -1;
      }
      .equipments {
        border-radius: 10px;
        .animation {
          background: map-get($map-color, grey-bg);
          border-radius: 0 0 10px 10px;
          padding-left: 10px;
          display: flex;
          flex-flow: column;
          justify-content: center;
          gap: 5px;
          .equipment-list {
            height: 28px;
          }

          p:nth-child(1) {
            padding-top: 40px;
          }
          p:last-child {
            padding-bottom: 8px;
          }
        }
      }
      .description-container,
      .equipments-container {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: map-get($map-color, red-primary);
        border-radius: 10px;
        .arrow_back-down {
          @include width-and-height(32px, 32px);
          cursor: pointer;
        }
      }
      .description-container-name,
      .equipments-container-name {
        display: flex;
        color: map-get($map-color, white-basic);
      }
    }
  }
}
