@import 'partial';
.logement {
  display: flex;
  justify-content: center;
  @include margin-media-query-375px;
  @include margin-media-query-768px;
  .logement-content {
    @include flex(column);
    align-items: center;
    width: 100%;
    position: relative;
    .carousel-nav {
      @include flex(column);
      justify-content: center;
      position: absolute;
      @media screen and (min-width: 375px) {
        @include width-and-height(100%, 335px);
      }
      @media screen and (min-width: 768px) {
        @include width-and-height(100%, 415px);
      }
      .carousel-back-and-forward {
        padding: 0 23px;
        display: flex;
        justify-content: space-between;
        gap: 70%;
        .nav-left {
          transform: rotate(180deg);
        }
        .nav-left,
        .nav-right {
          @media screen and (min-width: 375px) {
            @include width-and-height(15px, 24px);
          }
          @media screen and (min-width: 768px) {
            @include width-and-height(46px, 79px);
          }
        }
      }
      .carousel-number {
        display: flex;
        justify-content: center;
        color: map-get($map-color, white-basic);
        width: 100%;
        position: absolute;
        bottom: 25px;
      }
    }
    .figure-logement-gallery {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      display: flex;
      width: 100%;
      .image-logement-gallery {
        object-fit: cover;
        @media screen and (min-width: 375px) {
          @include width-and-height(100%, 335px);
        }
        @media screen and (min-width: 768px) {
          @include width-and-height(100%, 415px);
        }
      }
    }
  }
}
