@import 'partial';
.header-nav {
  margin: 45px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include margin-media-query-375px;
  @include margin-media-query-768px;
  .App-nav {
    @include flex(column);
    .nav-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 26px;
      @media screen and (min-width: 768px) {
        gap: 57px;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        width: 68px;
        @media screen and (min-width: 768px) {
          text-transform: none;
          width: 110px;
        }
        li {
          cursor: pointer;
          text-align: center;
          @include font-size-and-line-height(12px, 142.6%);
          @media screen and (min-width: 768px) {
            @include font-size-and-line-height(24px, 142.6%);
          }
        }
      }
      .nav-active {
        text-decoration: underline map-get($map-color, red-primary);
      }
    }
  }
}
