@import 'partial';
.header-nav {
  margin: 45px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include margin-media-query-375px;
  @include margin-media-query-768px;
  .App-nav {
    @include flex(column);
    .nav-list {
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 26px;
      @media screen and (min-width: 375px) {
      }
      @media screen and (min-width: 768px) {
        gap: 57px;
      }
      a {
        text-decoration: none;
        li {
          cursor: pointer;
          @media screen and (min-width: 375px) {
            text-align: right;
            @include font-size-and-line-height(12px, 142.6%);
          }
          @media screen and (min-width: 768px) {
            text-align: right;
            @include font-size-and-line-height(24px, 142.6%);
          }
        }
      }
      // &::after {
      //   content: '';
      // }
    }
  }
}
