@import 'partial';
.section {
  height: 223px;
  @include margin-media-query-375px;
  @include margin-media-query-768px;
  .img-section {
    display: flex;
    img {
      border-radius: 25px;
      object-fit: cover;
      @include width-and-height(100%, 223px);
    }
  }
  .text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    opacity: 0.5;
    background: map-get($map-color, black-basic);
    mix-blend-mode: darken;
    height: 223px;
    position: relative;
    top: -223px;
    p {
      @media screen and (min-width: 375px) {
        padding: 0 16px;
        @include font-size-and-line-height(24px, 100%);
      }
      @media screen and (min-width: 768px) {
        @include font-size-and-line-height(48px, 142.6%);
      }
    }
  }
}
